h2 {
  font-size: 40px;
  font-family: "PT Sans", sans-serif;
  margin-top: 100px;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
  padding-left: 20px;
}

#description {
  font-size: 20px;
  width: 80%;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  padding-left: 20px;
  text-shadow: 1px 1px #000000;
}

h3 {
  font-size: 25px;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  padding-left: 20px;
  text-shadow: 1px 1px #000000;
}

li {
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  padding-left: 20px;
  text-shadow: 1px 1px #000000;
}

#container-countdown {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: -400px 200px 0 0;
  text-shadow: 1px 1px #ffffff;
}

#countdown {
  background: linear-gradient(to right, #c33d3d, #c9c9b8);
  padding: 20px;
  border-radius: 20px;
  font-size: 40px;
}

#btn {
  padding: 20px;
  border-radius: 20px;
  font-size: 16px;
  background: linear-gradient(to right, #c33d3d, #c9c9b8);
  text-shadow: 1px 1px #ffffff;
}

#myVideo {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
}

@media all and (max-width: 800px) {
  h2 {
    margin-top: 10px;
    font-size: 30px;
  }
  #container-countdown {
    margin: 10px 200px 100px 0;
    text-shadow: 1px 1px #ffffff;
  }
}
